.cart6 {
    border: 1px solid rgba(247, 247, 247, 0.75);
    height: calc(var(--1w) * 2.37);
}

.cart6-heading {
    grid-column-start: 1;
    grid-column-end: 5;
    padding-top: calc(var(--1w) * 0.17);
    padding-left: calc(var(--1w) * 0.18);
    padding-right: calc(var(--1w) * 0.6);
}

.cart6-value {
    grid-column-start: 5;
    grid-column-end: 9;
    padding-top: calc(var(--1w) * 0.13);
    padding-left: calc(var(--1w) * 0.18);
    padding-right: calc(var(--1w) * 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(var(--1w) * 2.37);
    padding-bottom: calc(var(--1w) * 0.22);
}

.cart6-img {
    grid-column-start: 9;
    grid-column-end: 13;
    height: calc(var(--1w) * 2.36);
    border: 1px solid rgba(247, 247, 247, 0.75);
}

.cart6-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media only screen and (max-width: 767px) {
    .cart6 {
        height: 47.652575svh;
        display: inline-grid;
        grid-template-columns: 100%;
        grid-template-rows: 8.333332svh 16.666664svh 22.652579svh;
    }

    .cart6-heading {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .cart6-value {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        height: 22.652579svh;
        padding-top: 3.63849765258svh;
    }

    .cart6-value-link {
        align-self: flex-end;
    }

    .cart6-img {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        padding-top: 2.3474151737svh;
        border: none;
        height: 16.666664svh;
    }

    .cart6-img > img {
        height: 100%;
        object-fit: contain;
    }
}