#casesp-sec {
    width: var(--100w);
}

#casesp-container1 {
    position: relative;
    margin-top: calc(var(--1w) * 0.36);
}

#divid4 {
    height: calc(var(--1w) * 0.6);
}

#casesp-container1-text {
    padding-top: calc(var(--1w) * 0.35);
}

#casesp-btn {
    margin-top: calc(var(--1w) * 0.33);
}

#casesp-container2 {
    margin-top: calc(var(--1w) * 0.7);
    display: flex;
    flex-direction: column;
    gap: calc(var(--1w) * 0.33);
}