.aboutp-sec1 {
    width: var(--100w);
}

#aboutp-container1 {
    position: relative;
    margin-top: calc(var(--1w) * 0.365);
}

#divid2 {
    height: calc(var(--1w) * 0.6);
}

#aboutp-sec1-container1 {
    margin-top: calc(var(--1w) * 0.45);
}

#aboutp-container1-text {
    padding-top: calc(var(--1w) * 0.35);
}

#aboutp-sec1-text {
    grid-column-start: 1;
    grid-column-end: 8;
    padding-right: calc(var(--1w) * 0.7);
}

#aboutp-sec1-img {
    grid-column-start: 8;
    grid-column-end: 13;
    padding-left: calc(var(--1w) * 0.2);
    /*padding-bottom: calc(var(--1w) * 0.2);*/
    height: calc(var(--1w) * 2.33);
}

#aboutp-img1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#aboutp-sec1-carts {
    display: flex;
    justify-content: space-between;
    height: calc(var(--1w) * 2.13);
    margin-top: calc(var(--1w) * 0.69);
}

.aboutp-sec1-carts-cart {
    width: calc(var(--1w) * 3.76119404389);
}

#aboutp-sec2 {
    width: var(--100w);
    margin-top: calc(var(--1w) * 0.75);
}

#aboutp-sec2-container1 {
    border-top: 1px solid rgba(247, 247, 247, 0.75);
    margin-top: calc(var(--1w) * 0.65);
    padding-top: calc(var(--1w) * 0.35);
}

#aboutp-sec2-container1-heading {
    grid-column-start: 1;
    grid-column-end: 5;
}

#aboutp-sec2-container1-values {
    grid-column-start: 5;
    grid-column-end: 13;
    border-bottom: 1px solid rgba(247, 247, 247, 0.75);
    padding-right: calc(var(--1w) * 0.65);
    display: flex;
    flex-direction: column;
    gap: calc(var(--1w) * 0.17);
    padding-bottom: calc(var(--1w) * 0.35);
}

.aboutp-sec2-container1-value {
    display: flex;
    gap: calc(var(--1w) * 0.1);
}

.aboutp-sec2-container1-value::before {
    content: "•";
}

#aboutp-sec3 {
    width: var(--100w);
    margin-top: calc(var(--1w) * 0.72);
}

#aboutp-sec3-heading {
    margin-top: calc(var(--1w) * 0.34);
}

#aboutp-sec3-clients {
    display: grid;
    grid-template-columns: repeat(4, calc(var(--1w) * 2.5));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    /*column-gap: calc(var(--1w) * 0.2);*/
    row-gap: calc(var(--1w) * 0.2);
    /*width: 100%;*/
    margin-top: calc(var(--1w) * 0.35);
    color: black;
    justify-content: space-around;
}

.aboutp-sec3-client {
    background: rgba(247, 247, 247, 0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
}