#licensesp-sec {
    width: var(--100w);
}

#licensesp-container1 {
    margin-top: calc(var(--1w) * 0.37);
    /*padding-top: calc(var(--1w) * 0.37);*/
}

#licensesp-btn {
    margin-top: calc(var(--1w) * 0.32);
}

.licensesp-img1 {
    grid-column-start: 5;
    grid-column-end: 9;
    padding-top: calc(var(--1w) * 0.17);
    padding-bottom: calc(var(--1w) * 0.17);
    padding-left: calc(var(--1w) * 0.18);
    padding-right: calc(var(--1w) * 0.18);
    height: calc(var(--1w) * 5.5);
}

.licensesp-img2 {
    grid-column-start: 9;
    grid-column-end: 13;
    padding-top: calc(var(--1w) * 0.17);
    padding-bottom: calc(var(--1w) * 0.17);
    padding-left: calc(var(--1w) * 0.18);
    padding-right: calc(var(--1w) * 0.18);
    height: calc(var(--1w) * 5.5);
}

.licensesp-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#licensesp-container2 {
    margin-top: calc(var(--1w) * 0.6);
}


@media only screen and (max-width: 767px) {
    #licensesp-container2 {
        display: none;
    }
}