#licensesp-container2-licenses-mobile {
    margin-top: 3.84389575svh;
}

#licensesp-container2-licenses-mobile .slick-dots {
    font-size: 20px;
    bottom: 10px;
    color: white;
    position: unset;
    height: var(--1h);
    margin-top: var(--1g);
}

#licensesp-container2-licenses-mobile .slick-list {
    height: 55.985907svh;
}

#licensesp-container2-licenses-mobile .slick-slide {
    height: 55.985907svh;
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
}

#licensesp-container2-licenses-mobile {
    margin-top: 9.5070405svh;
}

#licensesp-container2-licenses-mobile .slick-dots {
    display: flex !important;
    justify-content: center;
    align-items: start;
}


@media only screen and (max-width: 767px) {

}