#mobile-nav {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    width: 100%;
    background: black;
    padding-right: 10px;
    padding-left: 10px;
    height: 43svh;
    z-index: 2;
    overflow: hidden;
    gap: 2.2svh;
}

.mobile-nav-open {
    max-height: 42svh;
    transition: max-height 0.2s ease-in-out;
}

.mobile-nav-close {
    max-height: 0;
    transition: max-height 0.2s ease-in-out;
}

#navbar-block {
    display: flex;
    gap: calc(var(--1w) * 0.466);
    margin-top: var(--1g);
}

#mobile-nav > a {
    border: 1px solid #FFFFFF;
    padding: 0.09svh 1svh;
}

.menu-container {
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 10px;
}

.menu-toggle {
    display: none;
}

.menu-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 55px;
    height: 30px;
    cursor: pointer;
    position: relative;
}

.line {
    width: 100%;
    height: 5px;
    background: #FFFFFF;
    transition: all 0.3s ease;
    border-radius: 4px;
}

/*.menu-toggle:checked + .menu-button {*/
/*    transform: translateX(10%);*/
/*}*/

.menu-toggle:checked + .menu-button .line:nth-child(1) {
    transform: rotate(45deg) translateY(17px);
}

.menu-toggle:checked + .menu-button .line:nth-child(2) {
    opacity: 0;
}

.menu-toggle:checked + .menu-button .line:nth-child(3) {
    transform: rotate(-45deg) translateY(-17px);
}

#header-back-layer {
    position: absolute;
    width: 100%;
    height: 7.2svh;
    top: 0;
    left: 0;
    margin-top: -1.17371svh;
    background: black;
    transition: all 0.3s ease-in-out;
}

.mobile-navbar-active-link {
    border-bottom: 2px solid #FFFFFF;
}

@media only screen and (max-width: 767px) {
    #navbar-block {
        display: flex;
        flex-direction: column;
        align-items: end;
    }
}