#contactusp-sec1 {
    width: var(--100w);
}

#contactusp-sec1-container {
    position: relative;
    margin-top: calc(var(--1w) * 0.03);
}

#divid5 {
    height: calc(var(--1w) * 0.6);
}

#contactusp-sec1-container-text {
    padding-top: calc(var(--1w) * 0.25);
}

#contactusp-sec2 {
    width: var(--100w);
    margin-top: calc(var(--1w) * 0.5);
}

#form2, #form3, #form4 {
    margin-top: calc(var(--1w) * 0.72761194301);
}

.contactusp-heading1 {
    margin-top: calc(var(--1w) * 0.1);
}

.contactusp-block1 {
    margin-top: calc(var(--1w) * 0.5);
}

.contactusp-block2 {
    margin-top: calc(var(--1w) * 0.5);
}

.cb-list {
    margin-top: calc(var(--1w) * 0.15);
    row-gap: calc(var(--1w) * 0.05);
}

.input {
    grid-column-start: 2;
}

.input-end1 {
    grid-column-end: -4;
}

.input-end2 {
    grid-column-end: -5;
}

label {
    display: inline-grid;
    grid-template-columns: calc(var(--1w) * 0.3) 1fr;
    align-items: center;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome, Edge, Opera and Firefox */
}

.cb {
    display: none;
}

.cb + label > span {
    /*display: inline-block;*/
    width: calc(var(--1w) * 0.2);
    height: 100%;
    /*margin: 0 5px -4px 0;*/
    /*display: flex;*/
    align-items: center;
    /*margin-top: calc(var(--1w) * 0.05);*/
}

.cb + label > span:before, .cb + label > span:after {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    content: "";
    position: absolute;
    z-index: 1;
    width: 0.5rem;
    height: 0.5rem;
    background: transparent;
    border: 2px solid #FFFFFF;
    margin-top: calc(var(--1w) * 0.1);
}

.cb + label > span:after {
    z-index: 0;
    border: none;
}

.cb:checked + label > span:before {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background: #D8282F;
    border-color: #D8282F;
}

.input-text {
    background: none;
    border-right: none;
    border-left: none;
    border-top: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    color: #FFFFFF;
}

.input-text:focus {
    outline: none
}

.input-text2 {
    margin-top: calc(var(--1w) * 0.2910447772);
}

#contactusp-submit-btn {
    margin-top: calc(var(--1w) * 1.5);
}

.input-dop-active {
    transform: scaleY(1);
    max-height: calc(var(--1w) * 0.5);
    transition: transform 0.2s, max-height 0.2s ease;
}

.input-dop-non-active {
    max-height: 0;
    transform: scaleY(0);
    transition: transform 0.2s, max-height 0.2s ease;
}


@media only screen and (max-width: 767px) {
    label {
        display: inline-grid;
        grid-template-columns: 2svh 1fr;
    }

    .cb + label > span:before, .cb + label > span:after {
        margin-top: 0.7svh;
    }

    #divid5 {
        position: unset;
    }

    #contactusp-sec1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    #contactusp-sec1-heading {
        height: 8.333332svh;
    }

    #contactusp-sec1-container {
        height: 14.319247svh;
    }

    #contactusp-sec2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .contactusp-heading-mobile {
        height: calc(var(--1h) / 2);
    }

    .contactusp-block1 {
        margin-top: var(--1g);
    }

    .contactusp-block1 > h3 {
        margin-bottom: 1.17370892019svh;
    }

    .cb-list {
        display: flex;
        flex-direction: column;
        gap: 1.17370892019svh;
    }

    .input {
        margin-left: 2.34741784038svh;
    }

    #contactusp-submit-btn {
        margin-top: 8.333332svh;
        height: calc(var(--1h) * 0.75);
    }
}